.all {
    background-color: #f9f9f9;

}

.container {
    padding-top: 20px;
    margin:60px auto;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    width: 80%;
    column-gap: 15px;
}

.box2 {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 5px 10px #a9a9a945;
    width: 100%;
     
}

.box2 p {
    text-align:end;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #2d4c69;
    
}

.ii {
    padding-left: 10px;
    color: rgb(58, 51, 51);
}


.box1 {
    background: #fff;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 5px 10px #a9a9a945;
    width: 100%!important;
    margin: 0;
    margin-bottom: 30px;
}


.title2 {
    font-weight: 600;
    text-align: center !important;
    color: #2d4c69;
    font-size: 14px;

}
.title1  {
    text-align: center !important;
    font-size: 18px;
    color: #ff8400;
}

.box1 h3 {
    padding: 20px 20px 20px;
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: #2d4c69;
}

.btn11 {
    display: flex;
    justify-content: center;
}

.box1 .btn1 {
    display: inline-block;
    background: #ff8400;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    border:0;
}

 


.box1 a {
    text-decoration: none;
    text-align: end;
    padding: 18px 8px;
    display: block;
    background: #2d4c69;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 9px;
}

.fac {
    padding-left: 8px;
    font-size: 19px;
}

.box1 a:nth-child(2) {
    background-color: #e52d27;
}

.box1 a:nth-child(3) {
    background-color: #55acee;
}


.box1 h2 {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    color: #2d4c69;
    float: none;
}

.box1 p {
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #ff8400;
    text-align: end;
}

.h2all {
    display: flex;
    margin-bottom: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}


.h2all img {
    margin-left: 10px;
    border-radius: 10px;
}

.cate {
    display: flex;
    text-align: end;
}

.box3parent {
    border: 1px solid #eee;
    background: #fff;
    margin-top: 25px;
    border-radius: 8px;
    flex-direction: row-reverse;
    display: flex;
    box-shadow: 0 5px 10px #a9a9a945;
}

.box3 h2{
    text-align: end;
    display: block;
    font-weight: 600;
    margin-top: 17px;
    line-height: 1.7;
    font-size: 19px;
    color: #2d4c69;
    transition: 0.3s;
}

.box3parent img {
    width:360px;
    float: right;
    height: 90%;
    margin-left:20px;
}
@media screen and (max-width:800px) {
    .box3parent img {
        width:90%;
    }

}
.cate {
   float: right;
}

.box3 p {
    clear: both;
}


.cate {
    margin-top: 19px;
}

.cate i {
    color: #ff8400;
}

.cate p {
    font-size: 13px;
    font-weight: 600;
    color: #2d4c69;
    padding-left: 5px;
    padding-right: 5px;
}

.text1 {
    font-size: 15px;
    color: #888787;
    text-align: end;
    padding-top: 27px;

}

.btn22 {
    float: right;
    margin-bottom: 20px;
    margin-top: 21px;
}

.btn21 {
    background: #2d4c69;
    padding: 4px 10px;
    padding-bottom: 7px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    display: block;
    font-weight: 600;
    float: right;
    border: 1px solid #2d4c69;
    transition: 0.3s;
    cursor: pointer;
}
 

.btn23 {
    background: #ff8400;
    padding: 4px 10px;
    margin-right: 6px;
    color: white;
    border-radius: 8px;
    border: 1px solid #ff8400;
    height: 32px;
  
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}


@media screen and (max-width:1500px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width:1100px) {
    .container {
        grid-template-columns:  1fr;
        grid-auto-flow: dense; /* NEW */
    }
    
    /* .container101 {
        display: flex;
        flex-direction: column-reverse;
    } */
    .container11 {
        order: 2;
        width: 350px;
        display: block;
        margin:0 auto;
    }

    .container2 {
        order: 1;
    }

    .box1 {
        margin-top: 50px;
        width: 300px;
    }
}


 @media screen and (max-width:400px) {
    .container11 {
        width: 300px;
        display: block;
        margin:0 auto;
    }
 }


 @media screen and (max-width:768px) {
    .box3 img {
        width: 90%;
        height: 400px;
        
    }

    .box3 h2 {
        margin:13px;
        display: block;
    }
    .cate {
        margin:13px;
    }
    .box3parent {
        display: block;
    }

    .box3 {
        display: block;
    }
    .btn22 {
        display:none;
    }
 
    }
 